{% load jsonify %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ state|upper }} Districts Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAslW8Ir5ntdi52GuzGT1SpAUOXVEdBxc8">
    </script>
    <script type="text/javascript"
            src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox_packed.js">
    </script>

    <script type="text/javascript">
        var map;
        var geocoder = new google.maps.Geocoder();
        var center = [{% if not center_point %}42.755942,-75.809204{% else %}{{ center_point }}{% endif %}];
        var bounds,
            strictBounds,
            stateBounds;

        function initialize() {
            // Setting up map
            var mapOptions = {
                center: new google.maps.LatLng(center[0], center[1]),
                zoom: {{ zoom }},
                mapTypeControl: false,
                panControl: false,
                streetViewControl: false,
                overviewMapControl: false,
                scaleControl: false,
                zoomControl: false,
                minZoom: {{ zoom }}
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            bounds = map.getBounds();

            {% if not center_point %}
            // Getting state's location
            geocoder.geocode( { 'address': '{{ state_slug }} state, USA' }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    center = results[0].geometry.location;
                    map.setCenter(center);
                    bounds = map.getBounds();

                    // Set map bounds to fit state
                    stateBounds = results[0].geometry.bounds;
                    strictBounds = new google.maps.LatLngBounds(
                        new google.maps.LatLng(stateBounds.Ea.k, stateBounds.va.j),
                        new google.maps.LatLng(stateBounds.Ea.j, stateBounds.va.k)
                    );
                    map.fitBounds(strictBounds);

                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
            {% endif %}

            // Setting up styles
            var map_styles = [
                {
                    featureType: 'all',
                    elementType: 'all',
                    stylers: [
                        { color: '{{ water_color }}' },
                        { visibility: "simplified" }
                    ]
                }
            ];
            map.set('styles', map_styles);

            map.data.loadGeoJson('http://nrf-dev.mediarain.com/states/{{ state_slug }}.json');

            // Setting up polygons/districts
            {% for number_of_district in number_of_districts %}
                {% if forloop.counter == 1 and forloop.first and forloop.last %}
                    map.data.loadGeoJson('/map/{{ state_slug }}/data0.json');
                {% else %}
                    map.data.loadGeoJson('/map/{{ state_slug }}/data{{ forloop.counter }}.json');
                {% endif %}
            {% endfor %}

            var labelBox = false;
            // Setting up polygon/district styles
            map.data.setStyle(function(feature) {
                var slug = feature.getProperty('slug');
                var label = feature.getProperty('number');
                var centroid = feature.getProperty('centroid');
                var GEO_ID = feature.getProperty('GEO_ID');
                var color = '{{ districts_fill_color }}';
                var opacity = 0;
                var stroke = 1;

                // Only full state outlines include the GEO_ID property
                if (GEO_ID){
                    opacity = 1;
                    stroke = 0;
                }

                if (slug == '{{ current_boundary }}') {
                    color = '{{ district_highlight_fill_color }}';
                    opacity = 0.75;
                    labelBox = new InfoBox({
                        content: label, boxStyle: {
                            fontSize: "14pt",
                            fontFamily: '"ff-din-web", "Helvetica Neue", Helvetica, Arial, sans-serif',
                            fontWeight: 'bold',
                            color: "{{ districts_fill_color }}",
                            textShadow: "0px 0px 2px {{ district_highlight_fill_color }}"
                        }, disableAutoPan: true, pixelOffset: new google.maps.Size(-7, -7), position: new google.maps.LatLng(centroid[0], centroid[1]), closeBoxURL: "", isHidden: false, enableEventPropagation: true
                    });
                    labelBox.open(map);
                }

                return {
                    strokeColor: '{{ districts_stroke_color }}',
                    strokeOpacity:1,
                    strokeWeight: stroke,
                    fillColor: color,
                    fillOpacity: opacity
                }
            });

            // Setting up polygon/district clicks
            map.data.addListener('click', function(event) {
                var name = event.feature.getProperty('name');
                var state = event.feature.getProperty('state');
                var number = event.feature.getProperty('number');
                top.postMessage({ "name" : name, "state" : state, "number" : number }, '*');
            });

            labelBox = false;
            map.data.addListener('mouseover', function (event) {
                var centroid = event.feature.getProperty('centroid');
                var label = event.feature.getProperty('number');
                var slug = event.feature.getProperty('slug');
                var GEO_ID = event.feature.getProperty('GEO_ID');
                
                if(!GEO_ID){
                    if (slug == '{{ current_boundary }}') {
                        return;
                    }
                    map.data.overrideStyle(event.feature, { fillColor: '{{ district_highlight_fill_color }}', fillOpacity: 0.75});
                    labelBox = new InfoBox({
                        content: label
                        ,boxStyle: {
                            fontSize: "14pt",
                            fontFamily: '"ff-din-web", "Helvetica Neue", Helvetica, Arial, sans-serif',
                            fontWeight: 'bold',
                            color: "{{ districts_fill_color }}",
                            textShadow: "0px 0px 2px {{ district_highlight_fill_color }}"
                        }
    	                ,disableAutoPan: true
    	                ,pixelOffset: new google.maps.Size(-7, -7)
    	                ,position: new google.maps.LatLng(centroid[0], centroid[1])
    	                ,closeBoxURL: ""
    	                ,isHidden: false
    	                ,enableEventPropagation: true
                    });
                    if(label !== "0")
                        labelBox.open(map);
                }
            });

            map.data.addListener('mouseout', function (event) {
                var slug = event.feature.getProperty('slug');
                if (slug == '{{ current_boundary }}') {
                    return;
                }
                map.data.overrideStyle(event.feature, { fillColor: '{{ districts_fill_color }}', fillOpacity: 0});
                labelBox.close();
                labelBox = false;
            });

            // Limiting dragging area
            google.maps.event.addListener(map, 'dragend', function() {
                if (bounds.contains(map.getCenter())) return;

                // We're out of bounds - Move the map back within the bounds
                var c = map.getCenter(),
                    x = c.lng(),
                    y = c.lat(),
                    maxX = bounds.getNorthEast().lng(),
                    maxY = bounds.getNorthEast().lat(),
                    minX = bounds.getSouthWest().lng(),
                    minY = bounds.getSouthWest().lat();

                // If overpass the min reset to the center
                if (x < minX) x = minX;
                if (x > maxX) x = maxX;
                if (y < minY) y = minY;
                if (y > maxY) y = maxY;

                map.setCenter(new google.maps.LatLng(y, x));
            });

            // Zoom Controls
            var zoomControlDiv = document.createElement('div');
            // Set CSS styles for the DIV containing the control
            // Setting padding to 5 px will offset the control
            // from the edge of the map.
            zoomControlDiv.style.padding = '5px';
            // Set CSS for the control interior.
            var controlMinus = document.createElement('div');
                controlMinus.style.fontFamily = '"ff-din-web", "Helvetica Neue", Helvetica, Arial, sans-serif';
                controlMinus.style.fontSize = '18px';
                controlMinus.style.color = 'white';
                controlMinus.style.borderStyle = 'solid';
                controlMinus.style.borderWidth = '1px';
                controlMinus.style.borderColor = 'white';
                controlMinus.style.cursor = 'pointer';
                controlMinus.style.textAlign = 'center';
                controlMinus.style.display = 'inline-block';
                controlMinus.style.width = '32px';
                controlMinus.style.height = '26px';
                controlMinus.innerHTML = '-';
            zoomControlDiv.appendChild(controlMinus);
            var controlPlus = document.createElement('div');
                controlPlus.style.fontFamily = '"ff-din-web", "Helvetica Neue", Helvetica, Arial, sans-serif';
                controlPlus.style.fontSize = '18px';
                controlPlus.style.color = 'white';
                controlPlus.style.borderStyle = 'solid';
                controlPlus.style.borderWidth = '1px';
                controlPlus.style.borderColor = 'white';
                controlPlus.style.borderLeftStyle = 'none';
                controlPlus.style.display = 'inline-block';
                controlPlus.style.cursor = 'pointer';
                controlPlus.style.textAlign = 'center';
                controlPlus.style.width = '32px';
                controlPlus.style.height = '26px';
                controlPlus.innerHTML = '+';
            zoomControlDiv.appendChild(controlPlus);
            // Setup the click event listeners: simply set the map to Chicago.
            google.maps.event.addDomListener(controlMinus, 'click', function() {
                map.setZoom(map.getZoom() - 1);
            });
            // Setup the click event listeners: simply set the map to Chicago.
            google.maps.event.addDomListener(controlPlus, 'click', function() {
                map.setZoom(map.getZoom() + 1);
            });
            map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(zoomControlDiv);
            // ----
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="map-canvas"/>
</body>
</html>
